<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
    {% block head %} {% endblock %}
</head>
<body>

<div id="navbar">
    <nav>
        <div class="nav-items">
            <a class="app" href="">Qs</a>
            <div class="links">
                <a href="/" class="app-link">Home</a>
                <a href="read_message" class="app-link">Read Message</a>
                <a href="add_contact" class="app-link">Add Contact</a>
                <a href="send_message" class="app-link">Send Message</a>
            </div>
        </div>
    </nav>
</div>

{% block body %}
{% endblock %}

</body>
</html>